/* formulario para agregar o modificar */
#form-articulos{
    display: none;
    position: fixed;
    top: 110px;
    z-index: 1000;
    background: white;
}
/* flechas del paginador */
.flecha{
    border: 1px solid rgb(143, 140, 140);
    padding: 0px 10px 14px 10px;
}

/* botones para las categorias */
.categoria{
    cursor: pointer;
    color: rgb(26, 26, 185);
}
.categoria:hover{
    color: rgb(184, 184, 214);
}
#todo{
    cursor: pointer;
    color: rgb(26, 26, 185);
}
#todo:hover{
    color: rgb(184, 184, 214);
}


/* posicion de la vista individual de cada pedido */
#posicion-pedido{
    /* position: fixed; */
}

.traer-individual{
    cursor: pointer;
}

/* bordee */
.bordee {
    width: 100%; 
    background-size: cover;
    box-shadow:0 0  20px rgba(7,7,7,.7);    
}

/* footer */
.footer{
    height: 50px;
    background-color: black;
}

/* mensaje del footer */
.mensaje{
    font-size: 1.4rem;
    color: white;
}

/* boton para pasar de pedidos pendientes a realizados */
.boton-enviar{
    display: none;
}

.navbar-bg{
    background-color: brown;
}

/* letra */
.letra{
    font-family: 'Oleo Script', cursive;
    font-size: 1.5rem;
}